<turbo-frame id="modal"></turbo-frame>
<div class="w-full max-w-4xl mx-auto ">
  <div class="bg-white shadow-lg rounded-xl p-8 animate-slide-in">
    <h2 class="text-2xl font-semibold text-gray-900 mb-6"> Опыт работы</h2>
  </div>

  <div id="experiences" class="mt-8 space-y-6">
    <% if experiences.any? %>
      <% experiences.each_with_index do |experience, index| %>
        <div class="bg-white shadow-md rounded-xl p-6 hover:shadow-lg transition-all duration-300 transform hover:scale-101 animate-slide-in" style="animation-delay: <%= index * 100 %>ms;">
          <div class="flex justify-between items-center">
            <div>
              <h3 class="text-lg font-semibold text-gray-900"><%= experience.company %></h3>
              <p class="text-sm text-gray-600">
                <%= experience.start_date_at.strftime("%B %Y") %> - 
                <%= experience.end_date_at&.strftime("%B %Y") || t('profile.present') %>
              </p>
              <p class="mt-2 text-sm text-gray-700"><%= experience.description %></p>
            </div>
            <div class="space-x-3">
              <% if experience.user == current_user %>
                <%= link_to "Редактировать", edit_profile_experience_path(user, experience), class: "text-lime-600 hover:text-lime-800 text-sm font-medium transition-colors duration-200" %>
                <%= form_with(url: profile_experience_path(user, experience), method: :delete, data: { turbo: false }) do |form| %>
                  <%= form.submit "Удалить", class: "text-red-600 hover:text-red-800 text-sm font-medium transition-colors duration-200", data: { confirm: t('profile.confirm_delete') } %>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    <% else %>
      <p class="text-center text-gray-600 py-10 animate-slide-in"><%= t('profile.no_experiences') %></p>
    <% end %>
  </div>
</div>