<%= content_tag :div, id: @id, class: @classes, "data-controller": "dropdown" do %>
  <%= content_tag :input, nil, type: "hidden", autocomplete: "off", id: "#{@id}-input", value: @value, name: @name, data: @data %>
  <%= content_tag :button,
                  type: "button",
                  class: "select-btn placeholder",
                  disabled: @disabled,
                  data: {
                    placeholder: @placeholder,
                    dropdown_target: "btn",
                    action: "dropdown#toggle click@window->dropdown#hide",
                    testid: @data[:testid]
                  } do %>
    <div class="pointer-events-none flex items-center">
      <%= inline_svg "icons/#{@svg}", class: "mr-2.5" if @svg %>
      <span data-dropdown-target="btnContent"><%= @placeholder %></span>
    </div>
    <%= inline_svg "icons/chevron-down", class: "pointer-events-none", "data-dropdown-target": "chevron" %>
  <% end %>
  <div
    data-dropdown-target="menu"
    class="<%= "dropdown dropdown-wrapper hidden #{@position}" %>"
    data-transition-enter-from="opacity-0 scale-95"
    data-transition-enter-to="opacity-100 scale-100"
    data-transition-leave-from="opacity-100 scale-100"
    data-transition-leave-to="opacity-0 scale-95"
  >
    <% if @no_results_if %>
      <div class="text-center text-gray-500 py-4"><%= t("components.select.no_results") %></div>
    <% else %>
      <%= content %>
    <% end %>
  </div>
<% end %>
