<%= render Form::Group.new(
  classes: @classes,
  label_position: @label_html[:position],
  show_all_errors: @show_all_errors,
  errors:) do %>

  <%= render Form::Label.new(@form_object, @object_name, @label, @label_html) if @label %>

  <% if has_percentage? %>
    <div class="flex flex-row gap-2">
      <div class="flex-1 basis-3/4">
        <%= render Form::NumberField.new(@form_object, @object_name, @input_html) %>
      </div>

      <div class="w-18 shrink">
        <%= render Ui::PercentageDisplayComponent.new(percentage: percentage_value, color: percentage_color) %>
      </div>
    </div>
  <% else %>
    <%= render Form::NumberField.new(@form_object, @object_name, @input_html) %>
  <% end %>
<% end %>
