<div data-controller="password-visibility" class="relative">
  <%= render Form::Group.new(classes: @classes, label_position: @label_html[:position], show_all_errors: @show_all_errors, errors:) do %>
    <%= render Form::Label.new(@form_object, @object_name, @label, @label_html) if @label %>
    <%= render Form::TextField.new(
      @form_object,
      @object_name,
      {
        type: "password",
        "data-password-visibility-target": "input",
        **@input_html,
        style: "padding-right:45px; #{@input_html[:style]}",
      }
    ) %>
  <% end %>
  <button type="button" data-action="password-visibility#toggle" class="absolute top-[29px] sm:top-[35px] right-1 text-green-400 p-[10px]">
    <%= inline_svg "icons/eye", "data-password-visibility-target": "icon" %>
    <%= inline_svg "icons/eye-slash", "data-password-visibility-target": "icon", class: "hidden" %>
  </button>
</div>
