<%= form_with(model: job_card, class: "max-w-3xl ") do |form| %>
  <% fields = {
    farm_name: { label: "Название агрохозяйства", type: :string },
    location: { label: "Локация", type: :string },
    remuneration: { label: "Оплата за работу", type: :number },
    work_amount: { label: "Объем работы", type: :number },
    date_at: { label: "Дата", type: :string, input_type: "date" },
    count_users: { label: "Требуемое количество работников", type: :number },
    status: { label: "Статус", type: :string },
    description: { label: "Описание", type: :textarea }
  } %>

  <div class="grid grid-cols-1 sm:grid-cols-2 gap-4 mb-4">
    <% fields.each do |field, config| %>
      <div class="<%= field == :description ? 'sm:col-span-2' : '' %>">
        <% case config[:type] %>
        <% when :string %>
          <%= render Ui::StringInputComponent.new(
            form: form,
            field_name: field,
            label: config[:label],
            type: config[:input_type] || "text",
            input_class: base_input_class(job_card, field)
          ) %>
        <% when :number %>
          <%= render Ui::NumberInputComponent.new(
            form: form,
            field_name: field,
            label: config[:label],
            input_class: base_input_class(job_card, field),
            step: "any"
          ) %>
        <% when :textarea %>
          <%= render Ui::TextAreaComponent.new(
            form: form,
            field_name: field,
            label: config[:label],
            input_class: base_input_class(job_card, field)
          ) %>
        <% end %>
      </div>
    <% end %>
  </div>

  <div class="flex justify-between ">
    <%= link_to "← Назад к вакансиям", job_cards_path, class: "rounded-md px-4 py-2 bg-gray-100 hover:bg-gray-200 text-gray-800 font-medium transition" %>
    <%= form.submit "Сохранить", class: "w-full sm:w-auto bg-lime-600 hover:bg-lime-500 text-white font-semibold px-4 py-2 rounded-md transition" %>
  </div>
<% end %>
