<div class="bg-white shadow-xl rounded-lg overflow-hidden w-full max-w-4xl mx-auto my-6 border-t-4 border-green-500 transition-transform duration-300 hover:scale-105">
  <div class="p-6">
    <div class="flex items-center justify-between mb-4">

    <div class="mb-4">
      <div class="text-sm font-medium text-gray-500">Компания</div>
      <div class="text-2xl font-semibold text-gray-800">
        <%= experience.company %>
      </div>
    </div>
   
    <div class="mb-4">
      <div class="text-sm font-medium text-gray-500">Период</div>
      <div class="text-sm text-gray-500">
        <%= experience.start_date_at&.strftime("%b %Y") %> - 
        <%= experience.end_date_at&.strftime("%b %Y") %>
      </div>
    </div>
    </div>
    
    <div>
      <div class="text-sm font-medium text-gray-500">Описание</div>
      <div class="mt-3 text-lg text-gray-700">
        <%= experience.description %>
      </div>
    </div>
  </div>

  <div class="bg-gray-100 p-4 flex justify-between items-center">
    <div class="flex space-x-4">
      <%= link_to "Edit", edit_profile_experience_path(experience.user, experience), class: "text-blue-600 hover:text-blue-800 font-semibold py-2 px-4 rounded-md bg-green-50 hover:bg-green-100 transition duration-200" %>
    
      <%= button_to "Destroy", profile_experience_path(experience), method: :delete, class: "w-full sm:w-auto rounded-md px-3.5 py-2.5 text-white bg-red-600 hover:bg-red-500 font-medium cursor-pointer", data: { turbo_confirm: "Are you sure?" } %>
    </div>
  </div>
</div>
