<div class="space-y-2.5 <%= @classes %>">
  <h2 class="uppercase font-bold text-sm">
    <%= @dependence %>
  </h2>

  <div class="flex flex-wrap gap-4 <%= "justify-end" if  @dependence == t("tanks.show_page.children") %>">
    <% @wine_materials.each do |wine_material| %>
      <%= render Ui::CardComponent.new(classes: "!p-4") do %>
        <div class="flex space-x-2 text-blue-400 hover:text-blue-600">
          <%= link_to wine_material.name, wine_material_path(wine_material), data: { turbo_frame: :_top } %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
