<div>
  <div class="bg-white rounded-lg shadow px-3 py-2">
    <h3 data-action="mouseenter->tippy-tooltip#titleIfTruncated" class="font-semibold truncate">
      <%= @analysis_result.analysis_type.name %>
    </h3>
  </div>

  <div class="bg-white rounded-lg shadow space-y-3 mt-1 p-3.5 pb-7">
    <div class="flex justify-between">
      <div class="inline-flex items-center rounded-full bg-gray-100 text-gray-500 px-3 py-0.5 text-xs">
        <%= @analysis_result.measured_at.strftime(t("shared.date.formats.slashes")) || "-" %>
      </div>
    </div>

    <strong class="flex justify-center font-semibold gap-1">
      <%= @analysis_result.value %>
      <p data-action="mouseenter->tippy-tooltip#titleIfTruncated" class="truncate">
        <%= @analysis_result.analysis_type.measurement_unit.unit %>
      </p>
    </strong>

    <div class="flex justify-center gap-2 text-xs leading-4 font-normal text-gray-500">
      <div class="w-1/5 flex flex-col items-center gap-5">
        <div class="relative w-full h-2.5 rounded-full <%= @low_indicator_css %>"></div>
        <p><%= t("shared.analysis.low") %></p>
      </div>
      <div class="w-2/4 flex flex-col items-center gap-5">
        <div class="relative w-full h-2.5 rounded-full <%= @normally_indicator_css %>"></div>
        <p><%= t("shared.analysis.normally") %></p>
      </div>
      <div class="w-1/5 flex flex-col items-center gap-5">
        <div class="relative w-full h-2.5 rounded-full <%= @high_indicator_css %>"></div>
        <p><%= t("shared.analysis.high") %></p>
      </div>
    </div>
  </div>
</div>
