<div id="new_user_session_form" class="w-full">
  <div class="flex justify-center px-4 sm:px-0">
    <div class="w-full max-w-sm sm:max-w-sm md:max-w-sm p-6 sm:p-8 space-y-6 sm:space-y-8 bg-white rounded-2xl shadow-lg mx-auto">
      <h2 class="text-2xl sm:text-3xl font-bold text-center text-gray-900">Вход</h2>

      <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: "space-y-4 sm:space-y-6", data: { turbo: true }, novalidate: true }) do |f| %>
        <%= render Ui::StringInputComponent.new(
          form: f,
          field_name: :email,
          label: "Почта",
          type: "email",
          input_class: "mt-1 px-3 sm:px-4 py-2 sm:py-3 text-base sm:text-lg border border-2 border-gray-300 rounded-lg shadow-sm focus:outline-none focus:ring-lime-500 focus:border-lime-500 w-full"
        ) %>

        <%= render Ui::StringInputComponent.new(
          form: f,
          field_name: :password,
          label: "Пароль",
          type: "password",
          autocomplete: "current-password",
          input_class: "mt-1 px-3 sm:px-4 py-2 sm:py-3 text-base sm:text-lg border border-2 border-gray-300 rounded-lg shadow-sm focus:outline-none focus:ring-lime-500 focus:border-lime-500 w-full"
        ) %>

        <% if devise_mapping.rememberable? %>
          <div class="field flex items-center">
            <%= f.check_box :remember_me, class: "h-4 sm:h-5 w-4 sm:w-5 text-indigo-600 focus:ring-indigo-500 border-gray-300 rounded" %>
            <%= f.label :remember_me, class: "ml-2 sm:ml-3 block text-sm sm:text-lg text-gray-900" %>
          </div>
        <% end %>

        <div class="actions">
          <%= f.submit "Вход", class: "w-full flex justify-center py-2 sm:py-3 px-4 border border-transparent rounded-lg shadow-sm text-base sm:text-lg font-medium text-white bg-lime-600 hover:bg-lime-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-lime-500" %>
        </div>

        <div class="mt-6 sm:mt-8">
          <%= link_to "Войти через Vineyard", new_vineyard_auth_path, class: "group relative w-full flex justify-center py-2 sm:py-3 px-4 border border-2 border-gray-300 text-base sm:text-lg font-medium rounded-lg text-gray-700 bg-white hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500" %>
        </div>
      <% end %>

      <div class="text-sm sm:text-lg text-center">
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>