<!DOCTYPE html>
<html class="h-full">
  <head>
    <title><%= content_for(:title) || "Diplom" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1, viewport-fit=cover">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@700&display=swap" rel="stylesheet">

    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <%= stylesheet_link_tag "https://cdn.jsdelivr.net/npm/glightbox/dist/css/glightbox.min.css" %>
    <%= javascript_include_tag "https://cdn.jsdelivr.net/npm/glightbox/dist/js/glightbox.min.js", defer: true %>
  </head>

  <body class="bg-[#fffdf5] min-h-full flex flex-col" style="font-family: 'Manrope', sans-serif;">
    <% unless devise_controller? || controller_name == "vineyard_auth" %>
      <%= render "layouts/header" %>
    <% end %>

    <% if current_user %>
      <main class="px-4 sm:px-5 flex-1">
        <%= yield %>
      </main>
    <% else %>
      <main class="md:h-screen flex-1 flex items-center justify-center bg-cover bg-center bg-no-repeat py-4"
            <% if devise_controller? || controller_name == "vineyard_auth" %>
              style="background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(<%= image_path('session_bg.png') %>);"
            <% end %>>
        <div class="w-full max-w-full px-4 py-8">
          <%= yield %>
        </div>
      </main>
    <% end %>

    <script>
      document.addEventListener("DOMContentLoaded", function() {
        GLightbox({ selector: ".glightbox" });
        
        if (window.innerWidth < 768) {
          document.querySelector('main').classList.remove('h-screen');
        }
        
        window.addEventListener('resize', function() {
          const main = document.querySelector('main');
          if (window.innerWidth < 768) {
            main.classList.remove('h-screen');
          } else {
            main.classList.add('h-screen');
          }
        });
      });
    </script>
  </body>
</html>