<!DOCTYPE html>
<html class="h-full">
  <head>
    <title><%= content_for(:title) || "Diplom" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1, viewport-fit=cover">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <style>
      @media (min-width: 640px) {
        body.new-job-card-page {
          overflow: hidden;
        }
        body:not(.new-job-card-page) {
          overflow: auto;
        }
      }
    </style>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@700&display=swap" rel="stylesheet">

    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">

    <%= stylesheet_link_tag "https://cdn.jsdelivr.net/npm/glightbox/dist/css/glightbox.min.css" %>
    <%= javascript_include_tag "https://cdn.jsdelivr.net/npm/glightbox/dist/js/glightbox.min.js", defer: true %>


    <script>
    if ('serviceWorker' in navigator) {
      window.addEventListener('load', () => {
        navigator.serviceWorker.register('/service-worker.js')
          .then(registration => {
            console.log('Service Worker зарегистрирован:', registration);
          })
          .catch(error => {
            console.error('Ошибка регистрации Service Worker:', error);
          });
      });
    }
  </script>
  
    <script src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js" defer></script>

    <%# Flatpickr для датапикера %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/themes/airbnb.css">
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script src="https://cdn.jsdelivr.net/npm/flatpickr/dist/l10n/ru.js"></script>

    <%# Swiper.js для слайдера %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

    <%= yield :javascript %>
  </head>

  <body class="bg-[#fffdf5] h-full <%= 'new-job-card-page' if controller_name == 'job_cards' && (action_name == 'new' || action_name == 'edit') %>" style="font-family: 'Manrope', sans-serif;">
    <% unless devise_controller? || controller_name == "vineyard_auth" %>
      <%= render "layouts/header" %>
    <% end %>

    <% if current_user %>
      <main class="px-4 sm:px-5 flex-1">
        <%= yield %>
      </main>
    <% else %>
      <main class="h-full flex items-center justify-center bg-cover bg-center bg-no-repeat"
            <% if devise_controller? || controller_name == "vineyard_auth" %>
              style="background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(<%= image_path('session_bg.png') %>);"
            <% end %>>
        <%= yield %>
      </main>
    <% end %>

    <script>
      document.addEventListener("DOMContentLoaded", function() {
        GLightbox({ selector: ".glightbox" });
      });
    </script>
  </body>
</html>